h1 h2 {
  color: rgb(153, 15, 15);
  font: bold;
  font-size: large;
}

body {
  background-color: aqua;
}

p {
  margin-top: 20px;
  font-size: medium;
}

footer {
  display: block;
  background-color: black;
  height: 20px;
}

