header {
  background-color: red;
  display: auto;
  height: 80px;
  margin-top: auto;
  }

ul li{
  display: inline-block;
  margin-right: 50px;
  margin-left: 30px;
  margin-top: 20px;
}
h1 {
  margin-top: 10px;
  color: rgb(192, 38, 38);
  }
h2 {
  margin-top: 20px;
  color: rgb(189, 27, 27); 
}
body {
  width: 960px;
  min-height: 700px;
  background-color: rgb(150, 280, 250);
  margin: 30px auto;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  width: 450px;
  height: 300px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
 }
h4 {
  margin: 40px 0px 0px 0px;
  padding: 0;
  font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: blue;
}
body li {
  color: blue;
  margin-right: 30px;
  margin-top: 30px;
}
iframe {
  height: 100px;
  width: 250px;
}
footer {
  background-color: red;
  color: white;
  padding: 10px;
  margin-inline: center;
  height: 60px; 
}